<div layout="row">
  <div ng-if="activeNavbar != ''" class="md-accent menu_sidebar_switch" layout layout-align="center center" ng-click="toggleLeft()">
    <md-icon md-svg-icon="./bower_components/material-design-icons/navigation/svg/production/ic_menu_48px.svg"></md-icon>
  </div>
  <div class="md-toolbar-tools menu-default-tools">
    <md-menu-bar ng-class="{'menu_active' : activeMenu == 'video'}">
      <div layout="column" layout-align="center center">
        <md-button class="md-icon-button" aria-label="Library" ng-click="goTo('/video')">
          <md-icon md-svg-icon="./bower_components/material-design-icons/image/svg/production/ic_photo_library_48px.svg"></md-icon>
        </md-button>
        <div class="menu_submenu">
          {{'MENU.VIDEO' | translate}}
        </div>
      </div>
    </md-menu-bar>

    <span flex></span>

    <md-menu-bar>
      <md-menu md-position-mode="target-right target" >
        <md-button aria-label="Open lang menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
          <md-icon md-menu-origin md-svg-icon="./bower_components/material-design-icons/content/svg/production/ic_flag_48px.svg"></md-icon>
        </md-button>
        <md-menu-content width="4" >
          <md-menu-item ng-repeat="lang in langList">
            <md-button ng-click="changeLanguage(lang.key)">
              <div layout="row">
                <img md-menu-align-target ng-src="{{lang.flag}}" />
                <span flex></span>
                <p>
                  {{ lang.title | translate }}
                </p>
              </div>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-menu-bar>

  </div>
</div>
